// Imports

@import 'utilities/index';
@import 'base/index';
@import 'components/index';

// Varialbles
$font-stack: Helvetica;
$color-one: #62c4b2;
$color-two: #7a7b7c;
$color-three: #42c8f4;


//Base
* {
  font-family: $font-stack;
}

// Heading

.container {
  margin: 0 auto;
  padding: 10px 25px;
  color: $color-two;
}

.grid__row {
  border: 3px solid green;
  margin-bottom: 50px;
}

.grid__row:nth-of-type(1) {
  border: 3px solid blue;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

// Base
ul {
  list-style-type: none;
  margin: 0 20px;
  padding: 20px 0;
}

li a {
  display: block;
  color: $color-two;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
  background-color: $color-one;
  border-radius: 5px;
}

// Headlines

.headline--primary {
  color: $color-one;
  padding-left: 15px
}

.headline--secondary {
  font-weight: 200;
}

// Links

.link {
  text-decoration: none;
  color: $color-three;
}

// Blockquote

.blockquote {
  font-size: large;
  font-weight: 300;
  border-left: 10px solid $color-one;
  border-radius: 0.5em;
  padding-left: 1em;
  padding-right: 5px;
}

.grid__col--4 {
  margin-top: 50px;
}

.img--avatar {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.form__label--hidden,
.form__input {
  display: flex;
  flex-wrap: wrap;
}

.form__label--hidden {
  margin-top: 1em;
  border-bottom: 10px solid $color-one;
}

.img--frame {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 0.5px solid $color-two;
  padding: 10px;
}

// Buttons

.btn--default {
  border-radius: 5px;
  color: white;
  background-color: $color-three;
  text-align: center;
  font-size: large;
  width: 100%;
  margin: 5px 0;
  padding: 0.5em;
}

.btn--info {
  border-radius: 5px;
  color: white;
  background-color: purple;
  text-align: center;
  font-size: large;
  width: 100%;
  margin: 5px 0;
  padding: 0.5em;
}

.btn--error {
  border-radius: 5px;
  color: white;
  background-color: tomato;
  text-align: center;
  font-size: large;
  width: 100%;
  margin: 5px 0;
  padding: 0.5em;
}

.btn--success {
  border-radius: 5px;
  color: white;
  background-color: green;
  text-align: center;
  font-size: large;
  width: 100%;
  margin: 5px 0;
  padding: 0.5em;
}

.btn--warning {
  border-radius: 5px;
  color: white;
  background-color: orange;
  text-align: center;
  font-size: large;
  width: 100%;
  margin: 5px 0;
  padding: 0.5em;
}
