// Media Queries

@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

// Flexbox Settings

@mixin flex-grid {
  display: flex;
  justify-content: center;
  width: auto;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
