
// Images

%image {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

// Headlines

%headline--secondary {
  font-weight: 200;
}

// Nav items

%nav__item {
  display: block;
  color: $color-two;
  padding: 8px 16px;
  text-decoration: none;
}

%nav__item:hover {
  color: white;
  background-color: $color-one;
  border-radius: 5px;
}

// Buttons

%button {
  border-radius: 5px;
  color: white;
  font-size: large;
  width: 100%;
  margin: 5px 0;
  padding: 0.5em;
}
