// Links

.link {
  text-decoration: none;
  color: $color-three;
}

// Images

%image {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

// Headlines

%headline--secondary {
  font-weight: 200;
}

// Nav items

// Buttons

%button {
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: large;
  width: 100%;
  margin: 5px 0;
  padding: 0.5em;
}

%button-grid {
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: large;
  width: 100%;
  margin: 5px -10px;
  padding: 0.5em;
}
