// Colors

$color-one: #62c4b2;
$color-two: #7a7b7c;
$color-three: #42c8f4;
$color-four: purple;
$color-five: tomato;
$color-six: green;
$color-seven: orange;
$color-eight: indigo;

// Fonts

$font-stack: Helvetica;

// Breakpoints

$breakpoint-tablet: 768px;

// Button Colors

$button-colors: (
  default: $color-three,
  success: $color-six,
  error: $color-five,
  warning: $color-seven,
  info: $color-four,
);

// Grid System Colors

$grid-colors: (
 12: $color-one,
  6: $color-eight,
  4: $color-three,
  3: $color-four,
  5: $color-six,
  7: $color-five,
  8: $color-seven,
);
