// Buttons

.theme__colors {
  @extend %button;
}

.btn--default,
.btn--info,
.btn--error,
.btn--success,
.btn--warning {
  @include tablet {
    width: 90px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

.form .btn--default {
  @include tablet{
    width: 100%;
    margin: auto;
  }
}

// Each Loops

@each $button, $color in $button-colors {
  .btn--#{$button} {
    background-color: $color;
  }
}
