// Buttons

.theme__colors {
  @extend %button;
}

.grid__col--6.theme__colors {

}

// Each Loops

@each $button, $color in $button-colors {
  .btn--#{$button} {
    background-color: $color;
    @media screen and (min-width: $breakpoint-tablet){
      width: auto;
    }
  }
}

@each $grid, $color in $grid-colors {
  .grid__col--#{$grid}.theme__colors {
    background-color: $color;
    color: $color-two;
      @media screen and (min-width: $breakpoint-tablet){
        text-align: center;
        margin: auto;
      }
  }
}
