// Forms

.form__label--hidden,
.form__input {
  display: flex;
  flex-wrap: wrap;
}

.form__input {
  border: none;
  width: 100%;
  border-bottom: 10px solid $color-one;
  font-size: medium;
  margin: 1.5em  auto;
}

.form__label--hidden {
  display: none;
}

.form {
  margin-top: 50px;
  @include tablet {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 75px;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
  }
}
