// Forms

.form__label--hidden,
.form__input {
  display: flex;
  flex-wrap: wrap;
}

.form__label--hidden {
  margin-top: 1em;
  border-bottom: 10px solid $color-one;
}

.form {
  margin-top: 50px;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 75px;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
  }
}
