// Grid System

.container {
  margin: 0 auto;
  padding: 10px 25px;
  color: $color-two;
}

.grid__row {
  margin-bottom: 50px;
}

.grid__row:nth-of-type(1) {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
   @include tablet {
     @include flex-row
     justify-content: space-between;
   }
}

.grid__row:nth-of-type(3) {
  @include tablet {
    @include flex-row;
  }
}

.grid__row:nth-of-type(4) {
  @include tablet {
    @include flex-row;
    justify-content: center;
    padding-right: 8em;
  }
}

.grid__row:nth-of-type(5) {
  @include tablet {
    @include flex-grid;
    flex-direction: row;
  }
}

.grid__row:nth-of-type(6),
 .grid__row:nth-of-type(7),
 .grid__row:nth-of-type(8),
 .grid__row:nth-of-type(9),
 .grid__row:nth-of-type(10),
 .grid__row:nth-of-type(11){
  @include tablet {
    @include flex-grid;
  }
}

.grid__row:nth-of-type(12) {
  @include tablet {
    @include flex-grid;
    width: 60%;
    margin: auto;
  }
}

// Grid image

.grid__col--6.img--avatar {
  margin: auto;
}

// Each Loops

@each $grid, $color in $grid-colors {
  .grid__col--#{$grid}.theme__colors {
    background-color: $color;
    color: $color-two;
      @include tablet {
        text-align: center;
        margin: auto 5px;
      }
  }
}

// Extra grids

.grid__col--5.theme__colors {
  @include tablet {
    width: 60%;
  }
}

.grid__col--8.theme__colors {
  @include tablet {
    width: 140%;
  }
}
