// Navigation

.nav__item a {
  @extend %nav__item;
}

.nav__item a:hover {
  @extend %nav__item:hover;
}

.nav {
  list-style-type: none;
  margin: 0 20px;
  padding: 20px 0;
  @include tablet {
    @include flex-row
    flex: 2;
    margin-left: 4em;
    margin-right: 5em;
  }
}
