// Navigation

.nav__item a {
  display: block;
  color: $color-two;
  padding: 8px 16px;
  text-decoration: none;
}

.nav__item a:hover {
  color: white;
  background-color: $color-one;
  border-radius: 5px;
}

.nav {
  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: row;
    flex: 2;
    margin-left: 4em;
    margin-right: 5em;
  }
}
